$white: rgb(253, 253, 253);
$bg-nav: #353030;
//$hoverText: rgb(255, 4, 4);
$colorProductsText: #333333;
$colorProductsLinks: #777777;
$bgGridProduct: #295f92;
$bgContactButton: #1b9fcf;
$bgHoverContactButton: #224d57;
$colorProductGridSpan: #888888;
$colorProductsGridPrice: #0d0d0d;
